html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, hsl(0, 2%, 35%), white 45%);
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #412479;
  align-items: center;
  position: sticky;
  width: 100%;
  margin-top: 0px;
}

a.navbar-element {
  text-decoration: none;
  height: 50px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}

a.navbar-element:hover{
  background-color: #7457ac;
}

.navbar-element {
  display: flex;
}

input.navbar-element {
  min-width: 100px;
  max-width: 150;
}


/* Quote History Page */

.history-header {
  font-family: Courier New;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.history-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5%;
  margin-bottom: 3em;
  margin-inline: 2px;
  height: 2em;
}

input.history-search {
  width: 500px;
}

button.history-search {
  width: 30px;
  height: 30px;
}

.history-table {
  background-color: white;
  border: 5px solid hsl(0, 1%, 48%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  width: fit-content;
  max-width: 900px;
  min-width: 700px;
}

tr.history-row {
  height: 1.75em;
}

tr.history-row:nth-child(even){
  background-color: hsl(0, 15%, 83%);
  border-color: white;
}

.refinery-pic {
  justify-content: center;
  position: fixed;
  width: 550px;
  height: 550px;
  right: -5.75%;
  bottom: -5.75%;
  border-radius: 500px;
  transform: rotate(340deg);
}


.circle-1 {
  justify-content: center;
  position: fixed;
  width: 600px;
  height: 600px;
  right: -5.75%;
  bottom: -5.75%;
  border-radius: 500px;
  transform: rotate(340deg);
  background-color: gray;
}

.circle-2 {
  justify-content: center;
  position: fixed;
  width: 650px;
  height: 650px;
  right: -5.75%;
  bottom: -5.75%;
  border-radius: 500px;
  transform: rotate(340deg);
  background-color: lightgray;
}

/* Profile Page */

div.profile-body-container{
  display: flex;
  justify-content: center;
  padding-top: 10%;
}

div.profile-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  color: #412479;
  width: 500px;
}

form.profile-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


p.profile-form-title{
  display: flex;
  font-size: 24pt;
  justify-content: center;
  font-weight: bold;
}

p.profile-form-instructions{
  color: black;
  font-style: italic;
  display: flex;
  font-size: 10pt;
  justify-content: center;
}

div.profile-field-container {
  display: flex;
  flex-direction: row;
  background-color: #d9d8d8;
  border-radius: 5px;
  color: #412479;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

p.profile-field-label{
  margin: 5px;
}

input.profile-field{
  flex: 1;
  margin-left: 5px;
  border-radius: 5px;
  border-style: hidden;
}

select.profile-field{
  flex: 1;
  margin-left: 5px;
  border-radius: 5px;
  border-style: hidden;
  background-color: white;
}

.profile-submit-button{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #412479;
  color: white;
  height: 30px;
  border-style: hidden;
}

.profile-submit-button:hover{
  background-color: #7457ac;
}

/*------------------------------------------------------*/


/* Home Page */

.home-animation-1 > h1 {
  margin-top: 5%;
  animation: fade-in-1 0.8s ease-in forwards;
  position: relative;
  justify-content: center;
  align-content: center;
}

.home-animation-2 > h1 {
  margin-top: 5%;
  animation: fade-in-2 0.8s ease-in forwards;
  animation-delay: 0.8s;
  position: relative;
  justify-content: center;
  align-content: center;
  opacity: 0;
}


.button-animation {
  height: 75px;
  width: 75px;
  background-color: hsl(0, 1%, 62%)
}

.button-animation > a#button-1 {
  position: relative
  
}

.button-animation > a#button-2 {
  position: relative
}

.button-animation > a#button-3 {
  position: relative
}


@keyframes fade-in-1 {
  from {
    opacity: 0;
    display: none;
    top: 30px;
  }

  to {
    opacity: 1;
    display: flex;
    top: 0px;
  }
}

@keyframes fade-in-2 {
  from {
    opacity: 0;
    display: none;
    top: 30px;
  }

  to {
    opacity: 1;
    display: flex;
    top: 0px;
  }
}

.foot {
  margin-block: 50px;
}
